@import '../../styles/variables';

/**************************************
 * Label
 **************************************/

.label {
    color: $bdl-gray-62;
    display: block;
    font-weight: bold;

    .label-optional {
        padding-left: 3px;
    }

    .bdl-Tooltip-iconContainer {
        padding-left: 3px;

        .bdl-Tooltip-icon {
            position: relative;
            top: 3px;
        }
    }
}
